@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header';
@import 'base/buttons';
@import 'blocks/advantages';
@import 'base/titles';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/reviews';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/footer';
@import 'base/media';

* {
    box-sizing: border-box;
    font-family: 'MuseoSansCyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
input[type='number'] {
    -moz-appearance: textfield;
}
